{% load static %}
<html>
<head>
	<meta charset="UTF-8">
	<meta  name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ einstellungen.Name }}</title>
	<link rel="shortcut icon" href="{%  static 'doku/favicon.ico' %}">
	<link rel="stylesheet" href="{%  static 'doku/bootstrap.min.css' %}">
  	<script src="{%  static 'doku/jquery.min.js' %}"></script>
  	<script src="{%  static 'doku/bootstrap.min.js' %}"></script>
	<script src="{%  static 'doku/popper.min.js' %}"></script>
	<!--
	<link rel="stylesheet" media="print" type="text/css" href="{% static 'doku/bootstrap.min.css' %}">
	<script type="text/javascript" src="{% static 'doku/jquery-3.4.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'doku/bootstrap.min.js' %}"></script>
	-->
	<link rel="stylesheet" media="screen" type="text/css" href="{% static 'doku/style.css' %}">
	<link rel="stylesheet" media="print" type="text/css" href="{% static 'doku/print.css' %}">
</head>
</body>
	{% csrf_token %}
	<!-- Menu -->
	<div class="topmenu{% if training %} Training{% endif %}">
	<!-- Userinfo -->
		<div class="header linkesModul">
			<div class="dropdown">
				<a href="{% if training %}{% url 'doku:index_training' %}{% else %}{% url 'doku:index' %}{% endif %}">
					<div class="dropbtn">Einsatzübersicht</div>
				</a>
				<div class="dropdown-content">
					{% for einsatz in aktive_Einsaetze %}
						<a href="{% url 'doku:einsatz' einsatz.Nummer %}">
							#{{ einsatz.Nummer }} - {{ einsatz.Stichwort.Kurzname }}
							{% if einsatz.OrtFrei %}
								{{ einsatz.OrtFrei }}
							{% else %}
								{{ einsatz.Ort.Langname }}
							{% endif %}
						</a>
					{% endfor %}
				</div>
			</div>
		</div>

		<div class="header mittleresModul Titel">
			<img class="logo-rechts" src="{% static 'doku/logo-feuerwehr.png' %}">
			<img class="logo-links" src="{% static 'doku/logo.png' %}">
			<h1 id="titel">{% if training %}Trainingsmodus{% else %}{{ einstellungen.Name }}{% endif %}</h1>
		</div>

		<div class="header rechtesModul">
		{% if autor %}
			<div class="dropdown">
				<div class="dropbtn"><b>Angemeldet: </b>{{ autor.first_name }}</div>
				<div class="dropdown-content">
					<a href="/doku/Benutzer/logout?next={{ request.path }}">Abmelden</a>
					<p onclick="print()">Drucken</p>
					<a href="{% url 'doku:toggleNightmode' %}" class="nightmode">Tagmodus</a>
					<a href="{% if training %}{% url 'doku:index' %}{% else %}{% url 'doku:index_training' %}{% endif %}">
						{% if training %}Einsatzmodus{% else %}Trainingsmodus{% endif %}
					</a>
					{% if request.user.is_staff %}<a target="_blank" href="/admin">Administration</a>{% endif %}
				</div>
			</div>
		{% else %}
			<div class="dropdown">
				<div class="dropbtn">Nicht angemeldet</div>
				<div class="dropdown-content">
					<a href="/doku/Benutzer/login?next={{ request.path }}">Anmelden</a>
				</div>
			</div>
		{% endif %}
		</div>
	</div>
	<div class="content">
	{% block content %}
	{% endblock %}
	</div>
	<script type="text/javascript" src="{% static 'doku/scripts.js' %}"></script>
	{% if autor and not autor.profile.nightmode %}
		<script>
			$(".nightmode").html("Nachtmodus");
			document.documentElement.style.setProperty('--main-bg-color', '#fff');
			document.documentElement.style.setProperty('--sec-bg-color', '#fff');
			document.documentElement.style.setProperty('--element-color', '#ddd');
			document.documentElement.style.setProperty('--text-element-color', '#ddd');
			document.documentElement.style.setProperty('--highlight-color', '#700');
			document.documentElement.style.setProperty('--text-color', '#000');
			document.documentElement.style.setProperty('--text-inverse-color', '#000');
		</script>
	{% endif %}
	{% if error %}
	<script>
		alert("{{ error }}");
	</script>
	{% endif %}
</body>
</html>