<!-- Abschnitt Meldungen -->
<div class="Modul mittleresModul">
	<h2>{% if einsatz.Training %}Trainings-{% endif %}Meldungen</h2>
	<div class="minimize-button active">-</div>
	<div class="minimize-this" style="display:block;">
		<div class="spacer"></div>
		{% if autor and not einsatz.Ende %}
			<div class="Formular">
				<form name="neue_Meldung" action="{% url 'doku:neueMeldung' einsatz.Nummer %}" method="post" autocomplete="off">
					{% csrf_token %}
					<input hidden class="do-not-show" autocomplete="false">
					<select id="MeldungZug" name="Zug" onchange="rememberZug(this)">
						<option value="" disabled selected>Zugauswahl</option>
						<option value="">Kein Zug</option>
						{% for Zug in alle_Zuege %}
							<option value="{{ Zug.Name }}: ">{{ Zug.Name }}</option>
						{% endfor %}
					</select>
					<input id="MeldungInhalt" name="Inhalt" placeholder="Neue Meldung" autofocus required/>
					<div class="spacer"></div>
					<div class="checkboxdiv"><label class="container">
						<input name="Wichtig" type="checkbox">
						<span class="checkmark">X</span>
					</label></div>
					<input type="submit" class="check" value="Neue Meldung hinzufügen">
				</form>
			</div>
		{% endif %}
		{% if alle_Meldungen %}
			<ul id="Meldungsliste" class="do-not-print">
			{% for Meldung in alle_Meldungen %}
				<li
					class="Meldung {% if Meldung.Wichtig %}Wichtig {% endif %}"
					id="{{ Meldung.pk }}"
					{% if not Meldung.Wichtig %}style="background-color:{{ Meldung.Zug.Farbe }};"{% endif %}
					data-toggle="tooltip"
					{% if Meldung.Autor.last_name %}
						title="{{ Meldung.Autor.first_name }} {{ Meldung.Autor.last_name }} am {{ Meldung.Erstellt }}"
					{% else %}
						title="{{ Meldung.Autor }} am {{ Meldung.Erstellt }}"
					{% endif %}
					data-placement="bottom">
						{{ Meldung.getTimeOrDate }} - {{ Meldung.Inhalt }}
				</li>
			{% endfor %}
			</ul>
			<table class="do-not-show">
				<tr>
					<th class="spalte1">Meldungstext</th>
					<th class="spalte2">Autor</th>
					<th class="spalte3h">Zeitpunkt</th>
					<th class="spalte4">FEL</th>
				</tr>
				{% for Meldung in alle_Meldungen %}
					<tr>
						<td class="spalte1">{{ Meldung.Inhalt }}{% if Meldung.Wichtig %}</b>{% endif %}</td>
						<td class="spalte2">{{ Meldung.Autor.first_name }} {{ Meldung.Autor.last_name }}</td>
						<td class="spalte3">{{ Meldung.Erstellt }}</td>
						<td class="spalte4">{% if Meldung.Wichtig %}&#10004;{% else %}X{% endif %}</td>
					</tr>
				{% endfor %}
			</table>
			{% if not einsatz.Ende %}
			<script>
				var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
				function csrfSafeMethod(method) {
					// these HTTP methods do not require CSRF protection
					return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
				}
				$.ajaxSetup({
					beforeSend: function(xhr, settings) {
						if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
							xhr.setRequestHeader("X-CSRFToken", csrftoken);
						}
					}
				});
				// Meldungen aktualisieren
				(function update_Meldungen() {
					lastIDfound = $(".Meldung").first().attr('id');
					$.get({
						method: "GET",
						url: "{% url 'doku:Meldung' einsatz.Nummer %}",
						data: {lastID: lastIDfound},
						success: function(data) {
							var jsonResponse = JSON.parse(data);
							for (var i = 0; i < jsonResponse.length; i++){
								var obj = jsonResponse[i];
								if (obj.fields.Wichtig) {
									$(".Meldung").first().before('<li class="Meldung Wichtig" id="' + obj.pk + '">' + obj.fields.Erstellt + " - " + obj.fields.Inhalt + '<ul class="print"><li>Verfasst von ' + obj.fields.Autor + ' am ' + obj.fields.Erstellt + '</li></ul></li>');
								} else {
									$(".Meldung").first().before('<li class="Meldung" id="' + obj.pk + '">' + obj.fields.Erstellt + " - " + obj.fields.Inhalt + '<ul class="print"><li>Verfasst von ' + obj.fields.Autor + ' am ' + obj.fields.Erstellt + '</li></ul></li>');
								}
							}
						},
						 complete: function() {
							 setTimeout(update_Meldungen, 1000);
						 }
					})
				})();
			</script>
			{% endif %}
		{% endif %}
    </div>
</div>