<!-- Abschnitt Meldungen -->
<div class="Modul mittleresModul">
	<center><h4>{% if einsatz.Training %}Trainings-{% endif %}Meldungen / Einsatzverlauf</h4></center>
	<div style="display:block;">
		<div class="spacer"></div>
		{% if autor and not einsatz.Ende %}
			<div class="Formular">
				<form name="neue_Meldung" action="{% url 'doku:neueMeldung' einsatz.Nummer %}" method="post" autocomplete="off">
					{% csrf_token %}
					<input hidden class="do-not-show" autocomplete="false">
					<select id="MeldungZug" name="Zug" onchange="rememberZug(this)">
						<option value="" disabled selected>Zugauswahl</option>
						<option value="">Kein Zug</option>
						{% for Zug in alle_Zuege %}
							<option value="{{ Zug.Name }}: ">{{ Zug.Name }}</option>
						{% endfor %}
					</select>
					<input id="MeldungInhalt" name="Inhalt" placeholder="Neue Meldung" autofocus required/>
					<div class="spacer"></div>
					<div class="checkboxdiv"><label class="container">
						<input name="Wichtig" type="checkbox">
						<span class="checkmark">X</span>
					</label></div>
					<input type="submit" class="check" value="Neue Meldung hinzufügen">
				</form>
			</div>
		{% endif %}
		{% if alle_Meldungen %}
			<ul id="Meldungsliste" class="do-not-print"></ul>
            <div class="Meldungsliste"></div>
			<table class="do-not-show">
				<tr>
					<th class="spalte1">Meldungstext</th>
					<th class="spalte2">Autor</th>
					<th class="spalte3h">Zeitpunkt</th>
					<th class="spalte4">FEL</th>
				</tr>
				{% for Meldung in alle_Meldungen %}
					<tr>
						<td class="spalte1">{{ Meldung.Inhalt }}{% if Meldung.Wichtig %}{% endif %}</td>
						<td class="spalte2">{{ Meldung.Autor.first_name }} {{ Meldung.Autor.last_name }}</td>
						<td class="spalte3">{{ Meldung.Erstellt }}</td>
						<td class="spalte4">{% if Meldung.Wichtig %}&#10004;{% else %}X{% endif %}</td>
					</tr>
				{% endfor %}
			</table>
		{% endif %}
    </div>
</div>