{% extends "doku/base_generic.html" %}
{% load static %}

{% block content %}
{% if einsatz %}
<script>
		document.title = `Einsatzdokumentation - #{% if einsatz.extNummer %}
		{{ einsatz.extNummer }}{% else %}{{einsatz.Nummer}}{% endif %} {{ einsatz.Stichwort.Kurzname }}
		{% if einsatz.OrtFrei %}{{ einsatz.OrtFrei }}{% else %}{{ einsatz.Ort.Langname }}{% endif %}`;

</script>
<div class="Modul linkesModul">
    <h2>Einheiten</h2>
    <div class="minimize-button active">-</div>
    <div class="minimize-this" style="display:block;">
        <div class="spacer"></div>
        {% if einheiten %}
        <ul id="Einheitenliste">
            {% for Einheit in einheiten %}
            <li class="Einheit">
                <div class="floating-button do-not-print">{{ Einheit.getAnzahlEinsatzstellen }}</div>{{ Einheit }}
            </li>
            {% endfor %}
        </ul>
        {% endif %}
        {% if autor %}
        <div class="Formular">
            <form name="neue_Einheit" action="{% url 'doku:oel' einsatz.Nummer %}" method="post" autocomplete="off">
                {% csrf_token %}
                <input hidden class="do-not-show" autocomplete="false">
                <input id="EinheitName" name="Name" placeholder="Name der Einheit" required/>
                <input type="submit" class="check" value="Einheit anlegen">
            </form>
        </div>
        {% endif %}
    </div>
</div>

<!-- Abschnitt Meldungen -->
<div class="Modul mittleresModul">
    <h2>Einsätze in Arbeit</h2>
    <div class="minimize-button active">-</div>
    <div class="minimize-this" style="display:block;">
        <div class="spacer"></div>
        {% if einsatzstellen %}
        <ul id="aktiv">
            {% for Einsatzstelle in einsatzstellen %}
            {% if Einsatzstelle.Einheit %}
            {% if not Einsatzstelle.Abgeschlossen %}
            <li class="Einsatzstelle" style="background-color: {{ Einsatzstelle.Ort.Farbe }};">
                <div class="floating-button">
                    <form name="Einsatzstelle_fertig" action="{% url 'doku:oel' einsatz.Nummer %}" method="post" autocomplete="off">
                        {% csrf_token %}
                        <input hidden class="do-not-show" name="Einsatzstelle" value="{{ Einsatzstelle.pk }}">
                        <input hidden class="do-not-show" name="DONE" value="1" autocomplete="false">
                        <input type="submit" class="check" value="erledigt">
                    </form>
                </div>
                <div>
                {{ Einsatzstelle.Einheit }} @ {{ Einsatzstelle }}
                </div>
                <ul class="EinsatzstelleMenu noClick">
                    <li>
                        <div class="eingerueckt20">Gemeldet:</div>
                        <div class="eingerueckt60">{{ Einsatzstelle.Gemeldet }}</div>
                        <div class="eingerueckt20">Übernommen:</div>
                        <div class="eingerueckt60">{{ Einsatzstelle.Zugewiesen }}</div>
                        <form name="neueNotiz" action="{% url 'doku:neueNotiz' einsatz.Nummer Einsatzstelle.pk %}" method="post" autocomplete="off">
                            {% csrf_token %}
                            <textarea name="Notiz" placeholder="neue Notiz hinzufügen"></textarea>
                            <input type="submit" class="check" value="Hinzufügen">
                        </form>
                        {% for notiz in notizen %}
                            {% if notiz.Einsatzstelle == Einsatzstelle %}
                                <div>
                                <div class="message-time">{{ notiz.get_datetime_short }}</div>
                                <div class="message-text">{{ notiz.get_html_multiline }}</div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </li>
                </ul>
            </li>
            {% endif %}
            {% endif %}
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    <h2>abgeschlossene Einsätze</h2>
    <div class="minimize-button active">-</div>
    <div class="minimize-this" style="display:block;">
        <div class="spacer"></div>
        {% if einsatzstellen %}
        <ul id="fertig">
            {% for Einsatzstelle in einsatzstellen %}
            {% if Einsatzstelle.Einheit %}
            {% if Einsatzstelle.Abgeschlossen %}
            <li class="Einsatzstelle" style="background-color: {{ Einsatzstelle.Ort.Farbe }};">
                {{ Einsatzstelle.Einheit }} @ {{ Einsatzstelle }}
            <ul class="EinsatzstelleMenu noClick">
                    <li>
                        <div class="eingerueckt20">Gemeldet:</div>
                        <div class="eingerueckt60">{{ Einsatzstelle.Gemeldet }}</div>
                        <div class="eingerueckt20">Übernommen:</div>
                        <div class="eingerueckt60">{{ Einsatzstelle.Zugewiesen }}</div>
                        <div class="eingerueckt20">Abgeschlossen:</div>
                        <div class="eingerueckt60">{{ Einsatzstelle.Abgeschlossen }}</div>
                        <form name="neueNotiz" action="{% url 'doku:neueNotiz' einsatz.Nummer Einsatzstelle.pk %}" method="post" autocomplete="off">
                            {% csrf_token %}
                            <textarea name="Notiz" placeholder="neue Notiz hinzufügen"></textarea>
                            <input type="submit" class="check" value="Hinzufügen">
                        </form>
                        {% for notiz in notizen %}
                            {% if notiz.Einsatzstelle == Einsatzstelle %}
                               <li>
                                <div>
                                <div class="message-time">{{ notiz.get_datetime_short }}</div>
                                <div class="message-text">{{ notiz.get_html_multiline }}</div>
                                </div>
                               </li>
                            {% endif %}
                        {% endfor %}
                    </li>
                </ul>
            </li>
            {% endif %}
            {% endif %}
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</div>

<div class="Modul rechtesModul">
    <h2 class="do-not-print">offene Einsätze</h2>
    <div class="minimize-button active">-</div>
    <div class="minimize-this" style="display:block;">
        <div class="spacer"></div>
        {% if autor %}
        <div class="Formular">
            <form name="neue_Einsatzstelle" action="{% url 'doku:oel' einsatz.Nummer %}" method="post" autocomplete="off">
                {% csrf_token %}
                <input hidden class="do-not-show" autocomplete="false">
                <input hidden class="do-not-show" name="neueEinsatzstelle" value="1">
                <input id="EStellenName" name="Name" placeholder="Adresse oder Name" required/>
                <select class="Ort" name="Ort">
                    <option value="" disabled selected>Ort</option>
                    {% for Ort in alle_Orte %}
                        <option value="{{ Ort.Kurzname }}">{{ Ort.Langname }}</option>
                    {% endfor %}
                </select>
                <input hidden class="Freitext" name="Freitext" placeholder="Freitext Ort">
                <input id="EStellenAnmerkungen" name="Anmerkungen" placeholder="Anmerkungen"/>
                <input type="submit" class="check" value="Einsatzstelle hinzufügen">
            </form>
            <script>
                $(".Freitext").hide();
                $(".Ort").change(function() {
                    if($(".Ort option:selected").text() == "Freitext") {
                        $(".Freitext").show();
                    } else {
                        $(".Freitext").hide();
                    }
                });
            </script>
        </div>
        {% endif %}
        {% if einsatzstellen %}
        <ul id="offen">
            {% for Einsatzstelle in einsatzstellen %}
            {% if not Einsatzstelle.Einheit %}
            <li class="Einsatzstelle" style="background-color: {{ Einsatzstelle.Ort.Farbe }};">
                {{ Einsatzstelle }}
                <ul class="EinsatzstelleMenu noClick">
                    <li>
                        <div class="eingerueckt20">Gemeldet:</div>
                        <div class="eingerueckt60">{{ Einsatzstelle.Gemeldet }}</div>
                        <form name="Einsatzuebernahme" action="{% url 'doku:oel' einsatz.Nummer %}" method="post" autocomplete="off">
                            {% csrf_token %}
                            <input hidden class="do-not-show" name="Einsatzstelle" value="{{ Einsatzstelle.pk }}">
                            <select class="Einheit" name="Einheit" required>
                                <option value="" disabled selected>Einheit</option>
                                {% for Einheit in einheiten %}
                                <option value="{{ Einheit.pk }}">
                                    {{ Einheit }} ({{ Einheit.getAnzahlEinsatzstellen }})
                                </option>
                                {% endfor %}
                            </select>
                            <input type="submit" class="check" value="Einsatz zuweisen">
                        </form>
                    </li>
                    <li>
                        <form name="neueNotiz" action="{% url 'doku:neueNotiz' einsatz.Nummer Einsatzstelle.pk %}" method="post" autocomplete="off">
                            {% csrf_token %}
                            <textarea name="Notiz" placeholder="neue Notiz hinzufügen"></textarea>
                            <input type="submit" class="check" value="Hinzufügen">
                        </form>
                        {% for notiz in notizen %}
                            {% if notiz.Einsatzstelle == Einsatzstelle %}
                               <li>
                                <div>
                                <div class="message-time">{{ notiz.get_datetime_short }}</div>
                                <div class="message-text">{{ notiz.get_html_multiline }}</div>
                                </div>
                               </li>
                            {% endif %}
                        {% endfor %}
                    </li>
                </ul>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</div>
{% else %}
<h2>Kein Einsatz mit dieser Nummer vorhanden!</h2>
{% endif %}
<script type="text/javascript" src="{% static 'doku/einsatz.js' %}"></script>
{% endblock %}
